* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background: #2e364a;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 100px auto;
}

.container {
  position: relative;
  padding: 10px 50px;
  width: 50%;
}

.text-box {
  padding: 20px 30px;
  background: #ffffff;
  border-radius: 15px;
  font-size: 15px;
  position: relative;
}

.container-l {
  left: 0;
}
.container-r {
  left: 50%;
}

.container img {
  position: absolute;
  width: 40px;
  border: 50%;
  right: -20px;
  top: 32px;
  z-index: 10;
}

.container-r img {
  left: -20px;
}

.timeline::after {
  content: " ";
  position: absolute;
  width: 6px;
  height: 100%;
  background: #ffffff;
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
}

.text-box h2 {
  font-weight: 600;
  margin-bottom: 3px;
}

.text-box small {
  display: inline-block;
  margin-bottom: 15px;
}

.left-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #ffffff;
  right: -15px;
}

.right-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #ffffff;
  left: -15px;
}
